{% if page_obj.has_other_pages %}
<div class="pagination">
    <span class="pagination-info">
        显示第 {{ page_obj.start_index }} - {{ page_obj.end_index }} 条，共 {{ page_obj.paginator.count }} 条
    </span>
    
    {% if page_obj.has_previous %}
        <a href="?page=1{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}" class="pagination-prev">
            <i class="fas fa-angle-double-left"></i>
        </a>
        <a href="?page={{ page_obj.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}" class="pagination-prev">
            <i class="fas fa-angle-left"></i>
        </a>
    {% else %}
        <span class="disabled">
            <i class="fas fa-angle-double-left"></i>
        </span>
        <span class="disabled">
            <i class="fas fa-angle-left"></i>
        </span>
    {% endif %}
    
    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <span class="current">{{ num }}</span>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a href="?page={{ num }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{{ num }}</a>
        {% endif %}
    {% endfor %}
    
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}" class="pagination-next">
            <i class="fas fa-angle-right"></i>
        </a>
        <a href="?page={{ page_obj.paginator.num_pages }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}" class="pagination-next">
            <i class="fas fa-angle-double-right"></i>
        </a>
    {% else %}
        <span class="disabled">
            <i class="fas fa-angle-right"></i>
        </span>
        <span class="disabled">
            <i class="fas fa-angle-double-right"></i>
        </span>
    {% endif %}
</div>
{% endif %}